<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
    <title>Stellar Deed</title>
</head>
<body class="bg-black">
<nav class="bg-white p-5 shadow md:flex md:items-center md:justify-between">
<div>
    <span class="text-2xl font-bold text-gray-800">Stellar Deed</span>
</div>
<ul class="md:flex md:items-center ">
    <li class="mx-4"> <a href=#home class="text-base ">Home</a></li>
    <li class="mx-4"> <a href=#home class="text-base ">About</a></li>
    <li class="mx-4"> <a href=#home class="text-base ">Marketplace</a></li>
    <li class="mx-4"> <a href=#home class="text-base ">Cart</a></li>
    <li class="mx-4"> <a href=#home class="text-base ">Contact</a></li>
</ul>
</nav>

</body>
</html>